@import 'var.scss';

html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
}

.el-button span {
    margin-left: 5px;
}

// header
.el-header {
    width: 100vw;
    flex: unset;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px!important;
    background-color: $--color-primary;
}

.header-logo {
    display: inline-block;
    height: 60px;
    width: 230px;
    text-align: center;
}

.header-logo img{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-operations {
    display: block;
    float: right;
    height: 100%;
    & li {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
      margin: 0 10px;
      cursor: pointer;
    }
  }

.header-operations::after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}

.el-container {
    display: block;
}


.down-container {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

//sidebar
.el-aside {
    flex: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px!important;
}

//main
.el-main {
    position: absolute;
    left: 230px;
    width: calc(100% - 230px);
    height: 100%;
}

.el-aside ul {
    height: 100%;
}

// errorPage
.error-box {
    width: 100%;
    margin-top: 8%;
    text-align: center;
    .error-code {
        font-size: 12vw;
        font-weight: 700;
        color: $--color-info;
    }
    .error-title {
        margin-bottom: 2vh;
        font-size: 1.6vw;
        font-weight: 600;
        color: $--color-warning;
    }
    .error-content {
        margin-bottom: 2vh;
        font-size: .8vw;
        font-weight: 400;
        color: $--color-info;
    }
}
